
@{
    ViewBag.Title = "Index";
}

<h2>Couses</h2>

<div>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Credits
            </th>
        </tr>

        @foreach (var b in ViewBag.Courses)
        {
            <tr>
                <td><p>@b.Title</p></td>
                <td><p>@b.Credits</p></td>
            </tr>
        }
    </table>
</div>
